body {
    margin: 0;
    padding: 0;
    font-family: 'Copperplate Gothic', sans-serif;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color:whitesmoke ;
    color: rgb(221, 42, 42);
    padding: 20px;
    position:fixed;
    top:0;
    width: 100%;

}

.logo {
    margin-right: 0px;
}

.logo img {
    width: 100px;
    height: auto;
}
.navbar h1 {
    margin: 0;
    font-family: 'Copperplate Gothic', sans-serif;
    text-align: center; 
    font-size:xxx-large;
    flex: 1;
}

.nav-icons {
    display: flex;
    margin-top: -80px;
}

.nav-icon {
    color:rgb(221, 42, 42);
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
    font-weight:bold;
}

.nav-icon i {
    margin-right: 5px;
}

.clsflds {
    position: fixed;
    width: 100%;
    justify-content:center;
    background-color:khaki;
    margin-top: 100px;
    padding-left: 195px;
}

.clsflds a {
    display: inline-block;
    color: rgb(221, 42, 42);
    font-size: 14px;
    font-weight: bolder;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.fw{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

form input{
    
    margin-bottom: 20px;
}

form{
    font-size: 13px;
    font-style:oblique;
    font-weight:400;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
  }
  